<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.madhushika.carbc_android_v3">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApp"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>



        <activity
            android:name=".LaunchingEmptyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".BuyVehicleActivity" />
        <activity android:name=".SellVehicleActivity" />
        <activity android:name=".EmmisiontestingActivity" />
        <activity android:name=".InsureActivity" />
        <activity android:name=".LeasingActivity" />
        <activity android:name=".LeasingPaymentActivity" />
        <activity
            android:name=".RegisterVehicleActivity"
            android:label="@string/title_activity_register_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>